* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aboutme {
  height: 100vh;

  background-image: url("./images/lake.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .aboutme {
  }
}
